<mat-card class="request">
    <mat-card-title>
        {{ request.startAddress.zip }}
        {{ request.startAddress.city }}
        ({{ request.startAddress.country }}) - {{ request.destAddress.zip }}
        {{ request.destAddress.city }} ({{ request.destAddress.country }})
    </mat-card-title>
    <mat-card-subtitle>{{ request.creator.username }}</mat-card-subtitle>
    <mat-card-content>
        <div>
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Preis €</mat-label>
                <input matInput disabled [value]="request.price" />
            </mat-form-field>
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Sitze</mat-label>
                <input matInput disabled [value]="request.persons" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Abfahrt</mat-label>
                <input matInput disabled [value]="request.startDate" />
            </mat-form-field>

            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Ankunft</mat-label>
                <input matInput disabled [value]="request.destDate" />
            </mat-form-field>
        </div>

        <div *ngFor="let item of request.items" role="list">
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Beschreibung</mat-label>
                <input matInput disabled [value]="item.description" />
            </mat-form-field>
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Größe</mat-label>
                <input matInput disabled [value]="item.size" />
            </mat-form-field>
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Gewicht</mat-label>
                <input matInput disabled [value]="item.weight" />
            </mat-form-field>
        </div>
    </mat-card-content>
    <ng-content></ng-content>
</mat-card>
