<mat-card
    style="
        background-color: aliceblue;
        margin: 60px auto;
        max-width: fit-content;
    "
>
    <mat-card-title>Login</mat-card-title>
    <form class="loginform" [formGroup]="loginForm">
        <div class="row">
            <mat-form-field appearance="fill">
                <input
                    id="username"
                    formControlName="username"
                    matInput
                    type="text"
                    placeholder="Username"
                />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <input
                    id="password"
                    formControlName="password"
                    matInput
                    type="password"
                    placeholder="Password"
                />
            </mat-form-field>
        </div>

        <mat-card-actions style="margin-bottom: 0; padding-bottom: 0">
            <button mat-stroked-button color="primary" (click)="save()">
                Einloggen
            </button>
            <a mat-stroked-button routerLink="/register">Registrieren</a>
        </mat-card-actions>
    </form>
</mat-card>
