<header class="container">
    <h1>Angebot anlegen</h1>
</header>

<mat-grid-list cols="3" rowHeight="40px">
    <mat-grid-tile>
        <h3>Start Adresse</h3>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Details</h3>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Ziel Adresse</h3>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="80px">
    <form class="formclass" [formGroup]="checkoutForm">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <input
                    formControlName="startZip"
                    matInput
                    placeholder="Postleitzahl *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <input
                    id="price"
                    formControlName="priceInput"
                    matInput
                    placeholder="Preis *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <input
                    formControlName="destZip"
                    matInput
                    placeholder="Postleitzahl *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

        <!--        -->

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <input
                    formControlName="startCity"
                    matInput
                    placeholder="Stadt *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-date-range-input [rangePicker]="picker" [min]="minDate">
                    <input
                        matStartDate
                        placeholder="Frühstens *"
                        formControlName="startDate"
                        required
                    />
                    <input
                        matEndDate
                        placeholder="Spätestens *"
                        formControlName="stopDate"
                        required
                    />
                </mat-date-range-input>
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <input
                    formControlName="destCity"
                    matInput
                    placeholder="Stadt *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

        <!--        -->
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <input
                    formControlName="startCountry"
                    matInput
                    placeholder="Land *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-select
                    id="vehicle"
                    formControlName="vehicleInput"
                    placeholder="Fahrzeug *"
                    required
                >
                    <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{vehicle.brand}} {{vehicle.model}}</mat-option>
<!--                  <mat-option>{{vehicle.brand}} {{vehicle.model}}</mat-option>-->
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile rowspan="1">
            <mat-form-field appearance="fill">
                <input
                    formControlName="destCountry"
                    matInput
                    placeholder="Land *"
                    required
                />
            </mat-form-field>
        </mat-grid-tile>

<!--        <mat-grid-tile colspan="3">-->
<!--            <mat-form-field id="spaceField" appearance="fill">-->
<!--                <input-->
<!--                    id="space"-->
<!--                    formControlName="spaceInput"-->
<!--                    matInput-->
<!--                    placeholder="Freie Ladefläche *"-->
<!--                    required-->
<!--                />-->
<!--                <mat-icon matSuffix>㎡</mat-icon>-->
<!--            </mat-form-field>-->
<!--        </mat-grid-tile>-->

<!--        <mat-grid-tile colspan="3">-->
<!--            <mat-form-field id="seatsField" appearance="fill">-->
<!--                <input-->
<!--                    id="seats"-->
<!--                    formControlName="seatsInput"-->
<!--                    matInput-->
<!--                    placeholder="Freie Sitze *"-->
<!--                    required-->
<!--                />-->
<!--            </mat-form-field>-->
<!--        </mat-grid-tile>-->

        <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
                <textarea
                    formControlName="moreInfo"
                    matInput
                    placeholder="Zusätzliche Informationen"
                ></textarea>
            </mat-form-field>
        </mat-grid-tile>
    </form>
</mat-grid-list>

<mat-grid-list cols="1">
    <section>
        <div class="example-button-row">
            <button
                mat-raised-button
                (click)="sendData('Angebot wurde erstellt')"
            >
                Angebot anlegen
            </button>
        </div>
    </section>
</mat-grid-list>
