<header class="container">
  <h1>Create an Offer</h1>
</header>

<div class="container">
  <div class="center">
    <form class="formclass" [formGroup]="checkoutForm">
      <div class="row">
        <mat-form-field appearance="fill">
          <input id="start" formControlName="startInput" matInput placeholder="From">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill">
          <input id="stop" formControlName="stopInput" matInput placeholder="To">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <input id="price" formControlName="priceInput" matInput placeholder="Price">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <input id="date" formControlName="datePicker" placeholder="When" matInput [matDatepicker]="picker" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-select id="vehicle" formControlName="vehicleInput" placeholder="Vehicle" >
            <mat-option value="primary">Audi Q7</mat-option>
            <mat-option value="accent">BMW X1</mat-option>
            <mat-option value="warn">Seat Ibiza</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mat-form-field--inline">
        <mat-form-field id="spaceField" class="mat-form-field-flex" appearance="fill">
          <input id="space" formControlName="spaceInput" matInput placeholder="Free Space">
          <mat-icon matSuffix>㎡</mat-icon>
        </mat-form-field>

        <mat-form-field id="seatsField" class="mat-form-field-flex" appearance="fill">
          <input id="seats" formControlName="seatsInput" matInput placeholder="Free Seats">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <textarea formControlName="moreInfo" matInput placeholder="Additional Information"></textarea>
        </mat-form-field>
      </div>

      <section>
        <div class="example-button-row">
          <button mat-raised-button (click)="sendData('Offer was created')">Create Offer</button>
        </div>
      </section>
    </form>
  </div>
</div>




