//.center {
//  display: flex;
//  justify-content: center;
//}

header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

mat-form-field {
    //justify-content: center;
    width: 300px;
}

//.mat-form-field--inline .mat-form-field {
//  display: inline-block;
//  width: 100%;
//  vertical-align: middle;
//}

//.formclass {
//  width: 200%;
//}
//
.example-button-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

//mat-grid-list {
//
//}
//
////TODO: wenn Fenster schmal wird --> seats und space gleichgroß (100%)!
//
