header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

mat-form-field {
    width: 300px;
}

.example-button-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#addItem {
  width: 5px;
  margin-left: 5px;
}
