<div class="hero" style="min-height: 400px">
    <h1 style="padding: 20px; background: #99999999; color: #fff">
        Like UDP, but with cars
    </h1>
</div>
<div class="grid">
    <div>
        <h2>News</h2>
        <p>hier könnten ein paar Neuigkeiten stehen.</p>
        <p>
            Lorem Ipsum dolors sit amet. Sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua
        </p>
    </div>
    <div>
        <h2>Student</h2>
        <p>Hier stehen Vorteile für Studenten.</p>
        <p>
            Lorem Ipsum dolors sit amet. Sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua
        </p>
    </div>
    <div>
        <h2>Versicherungen</h2>
        <p>hier könnten etwas zu Versicherungen stehen.</p>
        <p>
            Lorem Ipsum dolors sit amet. Sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua
        </p>
    </div>
    <div>
        <h2>Bezahlung</h2>
        <p>hier könnten etwas zu Bezahlung stehen.</p>
        <p>
            Lorem Ipsum dolors sit amet. Sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua
        </p>
    </div>
</div>
