<div class="page">
    <h1>Anfragen</h1>
    <mat-progress-spinner
        mode="indeterminate"
        class="spinner"
        *ngIf="isLoading"
    ></mat-progress-spinner>
    <h3 *ngIf="!requests.length && !isLoading" style="text-align: center">
        Keine Angebote gefunden!
    </h3>
    <div class="requests">
        <div *ngFor="let request of requests">
            <app-request [request]="request">
                <div *ngIf="(this.isLoggedIn() | async) === true">
                    <button
                        mat-button
                        color="primary"
                        (click)="openDialog(request.id)"
                    >
                        Buchen
                    </button>
                </div>
            </app-request>
        </div>
    </div>
</div>
