<mat-grid-list
    cols="6"
    gutterSize="10px"
    rowHeight="1:1"
    style="width: 80%; margin: 20px auto"
>
    <mat-grid-tile colspan="1" rowspan="3">
        <div>
            <img
                [src]="user.profilePicturePath"
                style="border-radius: 50%; max-width: 100%"
            />

            <button mat-raised-button (click)="openUploadImage()">
                Profilbild Hochladen
            </button>

            <p style="text-align: center">
                Benutzername:<br />
                {{ user.username }}
            </p>
            <p style="text-align: center">
                E-Mail:<br />
                {{ user.mail }}
            </p>
        </div>
    </mat-grid-tile>

    <!-- ngFor -->
    <mat-grid-tile colspan="5" rowspan="3">
        <div style="width: 90%; height: 100%; overflow: auto">
            <h2 style="text-align: center">Bewertungen</h2>
            <mat-card
                style="
                    background-color: aliceblue;
                    margin: 20px auto;
                    margin-right: 5px;
                "
                *ngFor="let rating of this.ratings"
            >
                <mat-grid-list cols="4">
                    <mat-grid-tile>
                        <img
                            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=300"
                            style="border-radius: 1000px; max-width: 90%"
                        />
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div style="padding: 3px 5px">
                            <mat-form-field
                                class="example-full-width"
                                appearance="fill"
                                style="margin-right: 8px"
                            >
                                <mat-label>Benutzer</mat-label>
                                <input
                                    matInput
                                    disabled
                                    [value]="rating.author.username"
                                />
                            </mat-form-field>
                            <mat-form-field
                                class="example-full-width"
                                appearance="fill"
                                style="margin-right: 8px"
                            >
                                <mat-label>Titel</mat-label>
                                <input
                                    matInput
                                    disabled
                                    [value]="rating.title"
                                />
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Textarea</mat-label>
                                <textarea
                                    matInput
                                    disabled
                                    [value]="rating.description"
                                ></textarea>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p>
                            <mat-icon
                                aria-hidden="false"
                                aria-label="Example home icon"
                                *ngFor="
                                    let star of [].constructor(rating.stars)
                                "
                                >star
                            </mat-icon>
                            <mat-icon
                                aria-hidden="false"
                                aria-label="Example home icon"
                                *ngFor="
                                    let star of [].constructor(5 - rating.stars)
                                "
                                >star_border
                            </mat-icon>
                        </p>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>
