<mat-list role="list">
    <div mat-subheader>Gegenstände</div>
    <mat-list-item
        role="listitem"
        class="item"
        *ngFor="let item of items; let i = index"
    >
        <mat-form-field class="input" appearance="fill">
            <mat-label>Beschreibung</mat-label>
            <input
                matInput
                [(ngModel)]="item.description"
                [value]="item.description"
            />
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Größe</mat-label>
            <input
                matInput
                type="number"
                [(ngModel)]="item.size"
                [value]="item.size"
            />
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Gewicht</mat-label>
            <input
                matInput
                type="number"
                [(ngModel)]="item.weight"
                [value]="item.weight"
            />
        </mat-form-field>
        <button
            mat-button
            color="warn"
            aria-label="Example icon button with a bookmark icon"
            (click)="removeItem(i)"
        >
            Entfernen
        </button>
    </mat-list-item>
    <mat-list-item>
        <button
            mat-button
            color="secondary"
            aria-label="Example icon button with a bookmark icon"
            (click)="addItem()"
        >
            <mat-icon>add</mat-icon>
        </button>
        <button
            mat-button
            color="primary"
            aria-label="Example icon button with a bookmark icon"
            (click)="save()"
        >
            Speichern
        </button>
    </mat-list-item>
</mat-list>
