<h1 mat-dialog-title>Fahrzeug hinzufügen</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input
            matInput
            [(ngModel)]="brand"
            placeholder="Marke"
            required
        />
    </mat-form-field>
</div>
<div mat-dialog-content>
    <!--  <p>Größe</p>-->
    <mat-form-field appearance="fill">
        <input
            matInput
            [(ngModel)]="model"
            placeholder="Modell"
            required
        />
    </mat-form-field>
</div>
<div mat-dialog-content>
    <!--  <p>Gewicht</p>-->
    <mat-form-field appearance="fill">
        <input
            matInput
            [(ngModel)]="seats"
            placeholder="Sitzplätze"
            required
        />
    </mat-form-field>
</div>
<div mat-dialog-content>
    <!--  <p>Größe</p>-->
    <mat-form-field appearance="fill">
        <input
            matInput
            [(ngModel)]="loadingArea"
            placeholder="Ladefläche"
            required
        />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Zurück</button>
    <button mat-raised-button (click)="saveCar()" cdkFocusInitial>
        Hinzufügen
    </button>
</div>
