<div class="page">
    <mat-progress-spinner
        mode="indeterminate"
        class="spinner"
        *ngIf="isLoading"
    >
    </mat-progress-spinner>
    <div *ngIf="!isLoading">
        <h1>Bestellung #{{ order.id }}</h1>

        <div style="display: flex">
            <mat-form-field
                class="example-full-width"
                appearance="fill"
                style="margin-right: 8px"
            >
                <mat-label>Käufer</mat-label>
                <input matInput disabled [value]="order.creator.username" />
            </mat-form-field>
            <mat-form-field
                style="margin-right: 8px"
                class="example-full-width"
                appearance="fill"
            >
                <mat-label>Datum</mat-label>
                <input
                    matInput
                    disabled
                    [value]="order.created | date: 'short'"
                />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select
                    (selectionChange)="onStatusChange($event.value)"
                    [value]="order.status"
                    [disabled]="
                        order.request.creator.id === +this.loginService.id
                    "
                >
                    <mat-option
                        *ngFor="let status of statusList"
                        [value]="status"
                    >
                        {{ status | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="order.status === 'shipped'">
            <h3>Tracking</h3>
            <p>Aktualisiert: {{ order.location.updated | date: "medium" }}</p>
            <app-order-tracking
                [location]="order.location"
            ></app-order-tracking>
            <button
                mat-raised-button
                color="primary"
                (click)="updateLocation()"
                *ngIf="order.offer.creator.id === +this.loginService.id"
                style="margin-top: 8px"
            >
                Update
            </button>
        </div>

        <h3>Angebot</h3>
        <app-offer [offer]="order.offer"></app-offer>

        <h3>Anfrage</h3>
        <app-request [request]="order.request"></app-request>
        <app-rating
            *ngIf="
                order.request.creator.id === +this.loginService.id &&
                order.status === 'finished'
            "
            [order]="order"
        ></app-rating>
    </div>
</div>
