<mat-card class="offer">
  <mat-card-title>
    {{ offer.startAddress.zip }}
    {{ offer.startAddress.city }}
    ({{ offer.startAddress.country }}) -
    {{ offer.destAddress.zip }} {{ offer.destAddress.city }} ({{
    offer.destAddress.country
    }})
  </mat-card-title>
  <mat-card-subtitle>{{ offer.creator.username }}</mat-card-subtitle>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        {{ offer.price }} EUR
      </mat-list-item>
      <mat-list-item role="listitem">
        {{ offer.startDate }} - {{ offer.destDate }}
      </mat-list-item>
      <mat-list-item role="listitem">
        {{ offer.vehicle.brand }} {{ offer.vehicle.model }} ({{
        offer.vehicle.seats
        }}
        seats / {{ offer.vehicle.loadingArea }} m^2)
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <ng-content></ng-content>
</mat-card>
