<mat-toolbar>
    <div class="legal-notes">
        <a routerLink="datenschutz" mat-button>Datenschutz</a>
        <a routerLink="impressum" mat-button>Impressum</a>
        <a routerLink="cookies" mat-button>Cookie Hinweis</a>
    </div>
    <span class="spacer"></span>
    <p class="social" fxShow="true" fxHide.lt-md="true">
        Besucht uns auf Social-Media
    </p>
    <a routerLink="social" routerLink="social" class="social"
        ><img src="/assets/twitter.png"
    /></a>
    <a routerLink="social" class="social"><img src="/assets/facebook.png" /></a>
    <a routerLink="social" class="social"
        ><img src="/assets/Instagram.png"
    /></a>
</mat-toolbar>
