<h1 mat-dialog-title>Fahrzeug bearbeiten</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="this.brand" placeholder="Marke" required />
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="this.model" placeholder="Modell" required />
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="this.seats" placeholder="Sitzplätze" required />
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input
            matInput
            [(ngModel)]="this.loadingArea"
            placeholder="Ladefläche"
            required
        />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Zurück</button>
    <button mat-raised-button (click)="saveCar()" cdkFocusInitial>
        Ändern
    </button>
</div>
