<h2 mat-dialog-title>Angebot buchen</h2>
<mat-dialog-content class="mat-typography">
    <app-request-items
        (saveItemsEvent)="applyItems($event)"
    ></app-request-items>

    <mat-list role="list">
        <div mat-subheader>Personen</div>
        <mat-list-item role="listitem" class="item" style="margin-top: 18px">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="persons" />
            </mat-form-field>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Abbrechen</button>
    <button mat-button color="primary" (click)="book()" cdkFocusInitial>
        Buchen
    </button>
</mat-dialog-actions>
